# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/

main.ipynb